version: '3'
services:
  nginx:
    image: nginx
    container_name: nginx
    depends_on:
      - frontend
      - backend
    environment:
      - NGINX_HOST=www.hefonglaw.com
      - NGINX_BACKEND_PORT=5000
      - NGINX_FRONTEND_PORT=8080
      - NGINX_PORT=80
    restart: always
    volumes:
      - ./templates:/etc/nginx/templates
    ports:
      - 80:80
    networks:
      - mynet

  db:
    image: nouchka/sqlite3:latest
    stdin_open: true
    container_name: sqlite
    tty: true
    restart: always
    volumes:
      - ./db/:/root/db/

  frontend: # Name of our service
    build: ./frontend # path to dockerfile
    container_name: frontend-docker
    restart: always # What to do if container crashes
    networks:
      - mynet
    expose:
      - 8080
    command: http-server dist

  backend:
    build: ./backend
    container_name: backend-docker
    restart: always
    depends_on:
      - db
    networks:
      - mynet
    expose:
      - 5000
    volumes:
      - ./db/:/db/
    command: uvicorn app.main:app --host 0.0.0.0 --port 5000

networks:
  mynet:
    driver: bridge
