server {
  listen       ${NGINX_PORT};
  server_name  ${NGINX_HOST};

  location / {
    proxy_pass http://frontend:8080;
  }

  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /usr/share/nginx/html;
  }
}